*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
        background-color: #ffa000;
    width: 100%;
}
#main_container{
    display: flex;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    flex-direction: column;
     align-items: center;
     /* padding: 150px 0px 150px 0px; */
     height: 600px;
}
#cont {
    position: absolute;
    top: 27px;
    /* width: 60px; */
    background-color: yellow;
    border-radius: 100%;
    padding: 15px 15px 15px 15px;
      box-shadow: 3px 3px 5px 6px #9b9a80;
}
#container{
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #dae3da;
    justify-content: center;
    align-content: center;
    /* height: 500px; */
    padding: 60px 25px 15px 25px;
    text-align: center;
    
}

.content1{
   
    /* padding: 0px 10px 0px 0px; */
   
}
.content2{
    font-size: 20px;
    color:#494a49;
}
.content3{
    
    height: 40px;
    border-radius: 5px;
    text-align: center;
    padding: 5px 100px 5px 100px;
    border: solid #a0a5a0 thin;
    background-color: #a0a5a0;

}
.content{
    margin:0px 0px 25px 0px;
}
#btn{
    background-color: rgb(24, 154, 215);
    border: solid rgb(24, 154, 215) thin;
    font-size: 17px;
    cursor: pointer;
    color: white;


}
.content4 a{
    text-decoration: none;
    color: red;
    font-size: 18px;
}